.par1{

    color: whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
    position: absolute;
    text-align: center;
    top: 70%;
    left: 28%;
    margin-right: 30%;

}